

:root{
    --clr-white:#fff;
    --clr-blue:#3432a8; 
    --clr-grey:#808080;
    --clr-black:#000000;
    --clr-red:#f00707;
}



@media (min-width:1536px){
    #btn{
       
        font-size: 2rem;
        padding: 1em;
       
    }
    
   
    #model{
        font-size: 2rem;
        padding: 1.5em;
    }
    #close-btn{
        font-size: 2.5rem;
        
    }
    
   
}
